@font-face 
{
  font-family: "bubblefont1";
  src: url(../font/bubblebuttacad.ttf) format("truetype");
}

@font-face 
{
  font-family: "bubblefont2";
  src: url(../font/PWBubbles.ttf) format("truetype");
}

*
{
	margin: 0;
	padding: 0;
}

html, body 
{
	height: 100%;
}

a 
{
	text-decoration: none;
	color: #000000;
}

header 
{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #6ab9da;
	background-color: #5F9EA0;
	/*background-color: #dfeffb;*/
}

.topHeader 
{
	margin-left: 10px;
}

.topHeader img 
{
	margin-top: 10px;
}

.topHeader h1 
{
	/*font-size: 25px;*/
	font-size: 50px;
	font-weight: 300;
	/*font-family: fantasy;*/
	font-family: "bubblefont1";
	position: absolute;
	/* margin: top right bottom left; */
	margin: 30px 0 0 20px;
	display: inline-block;
}

.topHeader h4
{
	/*font-size: 25px;*/
	font-size: 25px;
	font-weight: 300;
	/*font-family: fantasy;*/
	font-family: "bubblefont2";
	position: absolute;
	/* margin: top right bottom left; */
	margin: 80px 0 0 20px;
	display: inline-block;
}

.botHeader 
{
	height: 50px;
}

.userName
{
	margin:30px auto auto 30px;
	font-size: 27px;
	font-family: fantasy;
}

.userName a
{
	color:#0B6121;
}

.menuHeader 
{
	float: right;
	/*margin: 5px auto;
	margin-right: 50px;*/
	margin: auto 25px 50px 30px;
}

.menuHeader ul 
{
}

.menuHeader ul li 
{
	padding-left: 30px;
	display: inline-block;
}

.menuHeader ul li a 
{
	width: 100px;
	display: block;
	padding: 5px 10px;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #6ab9da;
	/* 
		webkit pour chrome
		moz pour mozilla
		etc ...
	*/
	background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #6AB8DA));
	background-image: -o-linear-gradient(left bottom, #FFFFFF 0%, #6AB8DA 100%);
	background-image: -moz-linear-gradient(left bottom, #FFFFFF 0%, #6AB8DA 100%);
	background-image: -webkit-linear-gradient(left bottom, #FFFFFF 0%, #6AB8DA 100%);
	background-image: -ms-linear-gradient(left bottom, #FFFFFF 0%, #6AB8DA 100%);
	background-image: linear-gradient(to left bottom, #FFFFFF 0%, #6AB8DA 100%);
}

.mainContainer 
{
	height: 100%;
	min-height: 100%;
	height: auto;

	width: 90%;
	margin: 0 auto;
	background-color: #dfeffb;
}

.mainContainerContent
{
	/*padding-top: 50px;*/
	padding: 50px;
}

#play
{
	width: 100%;
	text-align: center;
	margin:0 auto;
	top: 50px;
}

/*#play img
{
	/*width: 40%;
	width: 450px;
	margin : 50px auto;
    vertical-align: text-bottom;
}*/

.kogmawContainer 
{
	width: 450px;
	margin: 0 auto;
}

.kogmawContainer img
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
 

.start
{
	cursor:pointer;
}

#choice
{
	margin: 0 auto;
	display: inline-block;
}

#poulpeContainer 
{
}

.poulpe
{
	display: inline-block;
	
}

#play .title
{
	display: block;
	position:relative;
	bottom:0;
}

.content 
{
	height: 200px;
}

#videoContainer
{
	width: 640px;
	height: 360px;
	margin: 0 auto;
	top: 50px;
	position: relative;
	/*background-color: red;*/
}

#videoContainer video
{
	height: 100%;
	margin-top: 30px;
	/*background-color: blue;*/
}

#relancerPoulpes
{
}

.submitButton
{
	padding-left: 250px;
}

footer 
{
	width: 90%;
	height: 60px;
	margin: 0 auto;
	border-top: 1px solid #6ab9da;
	background-color: #5F9EA0;
	/*background-color: #dfeffb;*/
}

footer p 
{
	padding-top: 24px;
	text-align: center;
}

label {
	display: inline-block;
	width: 250px;
}

form {
	margin: 20px 20px 0 20px;
}

legend {
	padding: 5px;
}


